<h2>Volunteer: <%= @volunteer.volunteer_name %></h2>
<h3>Project: <%= @volunteer.projects.name %></h3>

<form action="/projects/<%= @volunteer.projects.id %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="Volunteer Name">Volunteer Name</label>
  <input id="Volunteer Name" name="volunteer_name" type="text">

  <button type="submit">Update Volunteer</button>
</form>

<form action="/projects/<%= @volunteer.projects.id %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete volunteer</button>
</form>

<a href="/projects/<%= @volunteer.projects.id %>">Back to <%= @volunteer.projects.name %></a>
